---
import Layout from "../../layouts/MainLayout.astro";
import { BLOG_PAGE_TITLE, SITE_DESCRIPTION } from "../../consts";

import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout
  title={BLOG_PAGE_TITLE}
  description={SITE_DESCRIPTION}
  ogtype='blog'
  class='blog'
>
  <div class='intro-container'>
    <div class='wrapper cf'>
      <h1 class='name' rel='author' itemprop='name'>Fabrício Oliveira</h1>
      <h2 class='job-title'>
        <span itemprop='jobTitle'>Desenvolvedor Front-end</span>
      </h2>
      <ul class='social-links group'>
        <li>
          <a
            rel='me'
            itemprop='url'
            href='https://github.com/fabloliv'
            class='icon icon-github'
            title='GitHub'><span class='screen-reader-text'>GitHub</span></a
          >
        </li>
        <li>
          <a
            rel='me'
            itemprop='url'
            href='http://br.linkedin.com/in/fabriciolo/'
            class='icon icon-linkedin2'
            title='LinkedIn'><span class='screen-reader-text'>LinkedIn</span></a
          >
        </li>
        <li>
          <a
            rel='me'
            itemprop='url'
            href='http://twitter.com/fabloliv'
            class='icon icon-twitter'
            title='Twitter'><span class='screen-reader-text'>Twitter</span></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class='skillcloud-container'>
    <div class='wrapper cf'>
      <h3 class='page-title'>Blog</h3>
    </div>
  </div>

  <div class='portfolio-container'>
    <div class='wrapper cf'>
      {
        posts.map((post) => (
          <article class='post'>
            <FormattedDate date={post.data.pubDate} />
            <h2 class='post-title'>
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </h2>
          </article>
        ))
      }
    </div>
  </div>
</Layout>
