---
export interface Props {
  title: string;
  description: string;
  ogtype: string;
}

const { title, description, ogtype = "website" } = Astro.props;
---

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />
<meta name='author' content='Fabrício Oliveira' />

<!-- Open Graph / Facebook -->
<meta property='og:locale' content='pt_BR' />
<meta property='og:type' content={ogtype} />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />

<meta property='og:image' content={`${Astro.site}assets/img/thumbnail01.jpg`} />
<meta property='og:image' content={`${Astro.site}assets/img/thumbnail02.jpg`} />
<meta property='og:image' content={`${Astro.site}assets/img/thumbnail03.jpg`} />

<!-- Twitter -->
<meta property='twitter:site' content='@fabloliv' />
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />

<!-- Chrome, Firefox OS and Opera -->
<meta name='theme-color' content='#E70388' />
<!-- Windows Phone -->
<meta name='msapplication-navbutton-color' content='#E70388' />
<!-- iOS Safari -->
<meta name='apple-mobile-web-app-status-bar-style' content='#E70388' />

{
  ogtype === "article" && (
    <link rel='stylesheet' href='/assets/prism/prism.css' is:inline />
  )
}
